[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-unimpaired"]
	path = _vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "_vim/bundle/vim-commentary"]
	path = _vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-capslock"]
	path = _vim/bundle/vim-capslock
	url = git://github.com/tpope/vim-capslock.git
