[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-unimpaired"]
	path = _vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "_vim/bundle/vim-commentary"]
	path = _vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-capslock"]
	path = _vim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "_vim/bundle/vim-coffee-script"]
	path = _vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/delimitMate"]
	path = _vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "_vim/bundle/vim-scala"]
	path = _vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "_vim/bundle/vim-indent-object"]
	path = _vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/vim-jade"]
	path = _vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
